/* Font Google
#4DA1FF; header
#878888; grey
#1AAAE6; blue
#B2E6F2; light blue
#FFFF00; highlight
*/

body {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
}


.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .text-small {
    font-size: 0.8em;
  }

  .text-white {
    color: white;
  }

  .text-grey {
    color: #878888;
  }

  .text-blue {
    color: #1AAAE6;
  }


  /* background */

  .bg-highlight {
    background-color: #FFFF00;
  }

  .bg-hblue {
    background-color: #FFFF00;
  }
  
  .bg-lightblue {
    background-color: #B2E6F2;
  }


  /* header */
header {
    height: 120px;
    background: #4DA1FF url('../img/pattern.png');
    background-size: 30%;
}

#logo img{
    width: 200px;
}